<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Text Typing Animation</title>
  <style>
    div {
      margin-top: 20px;
      height: 100px;
    }
  </style>
</head>
<body>
  Example
  <br />
  <div id="example1">

  </div>
  <button id="start">Start</button>
  <button id="stop">Stop</button>
  <button id="pause">Pause</button>
  <button id="restart">Restart</button>
  <script>
    window.onload = function () {
      var tta = new TextTypingAnimation(
        document.getElementById('example1'), {
          start: false
        }
      );
  
      tta
      .go({
        text: 'Our mission is to\norganize the world’s\ninformation and make it\nuniversally accessible\nand useful',
        delay: 50
      })
      .clear(1000)
      .go({
        text: 'Google!!',
        append: true
      });

      window.tta = tta;

      document.getElementById('start').addEventListener('click', function () {
        tta.start();
      });

      document.getElementById('stop').addEventListener('click', function () {
        tta.stop();
      });

      document.getElementById('pause').addEventListener('click', function () {
        tta.pause();
      });

      document.getElementById('restart').addEventListener('click', function () {
        tta.restart();
      });
    }


    
  </script>
</body>
</html>